<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus pariatur assumenda id doloremque! Pariatur alias architecto expedita in eveniet nulla sunt delectus ducimus, eum omnis error, similique illum, tempora quis?</p>

