<h1>{{ heroe.nombre | uppercase}} <small> ({{ heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row animated fadeIn fast" >
  <div class="col-md-4">
    <img src="{{ heroe.img }}" alt="" class="img-fluid">
    <br>
    <br>
    <a  routerLink="/heroes" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>
      {{ heroe.bio }}
    </p>
    <div >
      <img width="120" *ngIf="heroe.casa == 'Marvel'" src="/assets/img/marvel-logo.png" alt="Marvel">
      <img width="120" *ngIf="heroe.casa == 'DC'" src="/assets/img/dc-logo.jpg" alt="Dc">
    </div>
      
    
  </div>
</div>